.content {
    padding: 30px 50px;
    margin-top: 67px;
    height: calc(100% - 67px);
    overflow-y: auto;
}

.content h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Mobile */
@media screen and (max-width: 450px) {
   .content {
        padding: 30px;
    }
}
