.card {
    align-items: center;
}

.card .card-title {
    margin-top: 8px;
    font-weight: bold;
}

.card-body {
    text-align: center;
    padding: 0 0 1rem !important;
}

.card-img-top {
    width: 130px !important;
}

.card-text {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
}

.footer .btn {
    margin: 10px 10px 0;
}

.no-results {
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
}

.product {
    margin-bottom: 20px;
}

.pagination {
    justify-content: center;
}
