.navbar {
    min-height: 67px;
}

.navbar a#cart, a#login {
    color: rgba(255,255,255,.55);
    display: block;
    padding: .5rem 1rem 0 0;
    text-decoration: none;
}

.fa-lg#login-icon {
    height: 1.2em;
}

.navbar #language img {
    width: 24px;
}

.bshop-name {
    padding-left: 10px;
    font-size: 18px;
}

img {
    width: 110px;
}

.dropdown-toggle::after {
    display: none !important;
}

.navbar #language {
    padding: 6px 1rem 0 0;
}

.navbar #account {
    padding-left: 0;
}

.ptb5 {
    padding: 5px 0;
}